* {
  box-sizing: border-box;
}

#header {
  display: flex;
  justify-content: flex-start;
  padding-top: 3%;
}

body {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPgo8cmVjdCB3aWR0aD0iOCIgaGVpZ2h0PSI4IiBmaWxsPSIjNDAzYzNmIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDBMOCA4Wk04IDBMMCA4WiIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2U9IiMxZTI5MmQiPjwvcGF0aD4KPC9zdmc+");
  color: white;
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 11px;
  text-align: center;
}

h1 {
  padding-bottom: 5px;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 58px;
  margin: 20px 25px 5px 30px;
}

h2 {
  padding-bottom: 5px;
  font-size: 28px;
  margin: 20px 0 5px 0;
  text-align: center;
}

h3 {
  font-size: 24px;
  text-align: left;
  margin-left: 50px;
  margin-top: 10px;
}

ul {
  list-style: none;
  border-bottom: 1px solid gray;
  display: inline-flex;
  justify-content: center;
  height: 15%;
  margin: 20px;
  width: 100%;
}

li {
  padding: 50px;
  text-align: center;
}

input {
  width: 95%;
  height: 70px;
  padding: 20px;
  margin: 10px 5px 10px 30px;
  font-size: 50px;
  border-radius: 50px;
}

.submit-button {
  width: 50px;
  height: 50px;
  margin-top: 100px;
  background: none;
  border: none;
    img {
      width: 50px;
      height: 50px;
    }
}

input:focus, .submit-button:focus {
  outline: none;
}

.degree-font, .type-font {
  font-size: 42px;
}

.label-font {
  font-size: 12px;
}

#app-header {
  width: 85%;
}

// @media screen and (min-width: 600px){
//   // p {
//   //   font-size: 18px;
//   // }
//   html {
//   background-color: yellow;
//   }
// }
